<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
        <p class="title-font">FUN FACTS</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card ">
        <div class="card-content black-text text-center">
          <span class="card-title">Foodie</span>
          <p>Jonathan Gold is my guide and my goal is to eat until I die.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-content black-text text-center">
          <span class="card-title">Runner</span>
          <p>Striving for a healthier lifestyle and exercising for improved endurance.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-content black-text text-center">
          <span class="card-title">Sleeper</span>
          <p>I love to sleep and can sleep up to 10 hours in one go.</p>
        </div>
      </div>
    </div>
  </div>
</div>
