<!-- resume -->
<div id="experiences" class="container section scrollspy">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <p class="title-font">EXPERIENCE</p>
    </div>
  </div>

  <div class="row">
    <div class="left-resume col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="row">
        <!-- <div class="col-md-12 text-center">
            <hr class="z-depth-1">
            <br>
            <p class="left-resume-title-font">OFFICIAL RESUME</p>
            <p>
              You can download my official resume here.
            </p>
            <a href="https://github.com/bluwolf/resume/blob/master/kay_resume.pdf
" target="_blank" class="waves-effect waves-light btn-large black button-text">  <i class="fa fa-paperclip" aria-hidden="true"></i>
&nbsp; MY RESUME</a>
        </div> -->
        <!-- <div class="col-md-12 text-center">
            <hr class="z-depth-1">
            <br>
            <p class="left-resume-title-font">LINKEDIN PROFILE</p>
            <p>
              Feel free to take a look at my LinkedIn profile.
            </p>
            <a href="https://www.linkedin.com/in/xiaohankay
" target="_blank" class="waves-effect waves-light btn-large black button-text">  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
&nbsp; MY LINKEDIN PROFILE</a>
        </div> -->
        <div class="col-md-12 text-center">
            <hr class="z-depth-1">
            <br>
            <p class="left-resume-title-font">PROGRAMMING SKILLS</p>
            <p>
              I use whatever technology that is needed and learn during the process.
            </p>
            <div class="">
              <a class="waves-effect waves-light btn grey darken-4 button-text">Java</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">Objective-C</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">C</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">C++</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">Swift</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">Ruby</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">HTML</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">CSS</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">Javascript</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">SQL</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">Verilog</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">Git</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">UI/UX Responsive Design</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">MVC</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">Heroku</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">Ruby on Rails</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">Postgres</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">OOP</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">iOS Development</a>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <hr class="z-depth-1">
            <br>
            <p class="left-resume-title-font">PERSONAL SKILLS</p>
            <div class="">
              <a class="waves-effect waves-light btn grey darken-4 button-text">Team Player</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">Positive Attitude</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">Accept and Learn</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">Flexible</a>
              <a class="waves-effect waves-light btn grey darken-4 button-text">Adaptable</a>
              
            </div>
        </div>
      </div>
    </div>
    <div class="right-resume col-xs-12 col-sm-12 col-md-6">
      <ul class="timeline">
        <li class="timeline-inverted">
          <div class="timeline-badge black"><i class="fa fa-black-tie" aria-hidden="true"></i> </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Software Engineer at NuORDER</h4>
              <p class="grey-text">Current</p>
            </div>
            <div class="timeline-body">
              <p>
                • Worked on the mobile team in developing the iOS application for NuORDER.
              </p>
              <p>
                • Daily workflow includes programming in Objective-C and writing units test suites. 
              </p>
              <p>
                • Tech stack include: Git, Xcode, Jira, Docker, Jenkins, MongoDB, GitLab. 
              </p>
            </div>
          </div>
        </li>
          <li class="timeline-inverted">
            <div class="timeline-badge black"><i class="fa fa-black-tie" aria-hidden="true"></i> </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Software Engineer at Wheecar</h4>
                <p class="grey-text"> May 2015</p>
              </div>
              <div class="timeline-body">
                <p>
                  • Full-stack web developer using the Ruby on Rails framework with Heroku
                </p>
                <p>
                  • Designed and implemented the company website’s landing page and FAQ page in Bootstrap, CSS, and jQuery
                </p>
                <p>
                •  Performed daily maintenance the website by periodically adding/editing frontend content
                </p>
                <p>
                  • Collaborated in the testing and implementation of backend Postgres database
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge black"><i class="fa fa-black-tie" aria-hidden="true"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Software Engineer Intern at Social Project LLC</h4>
                <p class="grey-text"> May 2014</p>
              </div>
              <div class="timeline-body">
                <p>
                  •iOS Developer building with Objective-C and Parse
                </p>
                <p>
                  •Implemented the profile creation view succeeding the user registration page
                </p>
                <p>
                  •Created the Drinking Age Disclaimer window and synchronized users’ responses to Parse database
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge black"><i class="fa fa-black-tie" aria-hidden="true"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Started college at University of Southern California (USC)</h4>
                <p class="grey-text"> August 2012</p>
              </div>
              <div class="timeline-body">
                <p>
                  • I majored in Computer Science and Computer Engineering, a dual major that USC offered for students who are interested in both software and hardware
                </p>
                <p>
                  • Coursework are in Data Structures and OOP Programming, Algorithms, Software Development in Java,  Interactive Web Development, Mobile Application Development, Digital Logic, and Technical Entrepreneurship
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge black"><i class="fa fa-black-tie" aria-hidden="true"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">I first became interested in computer science through games</h4>
                <p class="gre y-text"> January 2006</p>
              </div>
              <div class="timeline-body">
                <p>
                  • I was raised in America, and had a very diverse childhood because my family moved a lot around the country. I went to elementary school in Salt Lake City, Utah; middle school in Richmond, Virginia; and high school in New Orleans, Lousiana. The mobility made it hard to sustain long-term friendships. Because of this, gaming became my best friend.
                </p>
                <p>
                  • As a young gamer, I was fascinated by hackers who cracked game secruity files and made them available to everyone. Eventually, I began to dig through those game files to find exactly what changed in the code.
                </p>
              </div>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
