



<footer class="page-footer #eceff1 grey darken-4">


        <div class="container">
          <div class="row">

            <div class="col-xs-12 col-md-12 text-center">
              <h5 class="" style="font-size:20px; color:white;">LET'S CONNECT</h5>

                <a style="color:white;" target = "_blank" href="https://www.linkedin.com/in/xiaohankay
"><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i> &nbsp;&nbsp; </a>
                <a style="color:white;" target = "_blank" href="https://github.com/bluwolf"><i class="fa fa-github-alt fa-4x" aria-hidden="true"></i>&nbsp; &nbsp;</a>
                <a style="color:white;" target = "_blank" href="https://plus.google.com/u/0/118209862521127449624"><i class="fa fa-google-plus-square fa-4x" aria-hidden="true"></i>&nbsp;&nbsp; </a>
                <a style="color:white;" href="mailto:xiaohanc@usc.edu?subject= Hello from your website!"><i class="fa fa-envelope fa-4x" aria-hidden="true"></i>&nbsp;&nbsp;</a>

            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2016 Xiaohan Chen
          </div>
        </div>
</footer>
